* {
  font-family: "DM Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

header {
  position: relative;
  height: 70px;
}
header nav {
  position: fixed;
  width: 100%;
  height: inherit;
  background-color: #191919;
  z-index: 5;
}
header nav .menu {
  width: 100%;
  padding: 22px 70px;
  margin: 0;
  text-align: right;
}
header nav .menu_link {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}
header nav .menu_link_lighted {
  color: #118DA8;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}
header nav .menu_brand {
  position: absolute;
  padding: 22px 70px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
}
header nav .menu_item {
  display: inline-block;
  margin-left: 30px;
}
header .pone {
  position: absolute;
  top: 70px;
  min-height: 913px;
  background-color: #191919;
  width: 100%;
}
header .pone_img {
  float: left;
  margin-top: 40px;
  margin-left: 70px;
  width: 650px;
  height: 873px;
  background: url("/src/img/black.person.png") center center/cover no-repeat;
}
header .pone_header {
  display: inline-block;
  margin-top: 340px;
  margin-left: 60px;
  color: #FFF;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 7px;
}
header .pone_next {
  display: inline-block;
  color: #FFF;
  font-size: 75px;
  line-height: 88px;
}
header .pone_listen {
  color: #FFF;
  font-size: 15px;
  line-height: 24px;
  margin-left: 800px;
  margin-top: 75px;
}
header .pone_stripes {
  width: 68px;
  height: 74px;
  background: url("/src/icon/icon.blue.png") center center/cover no-repeat;
  position: absolute;
  top: 16px;
  margin-left: 44px;
}
header .pone_spotify {
  position: absolute;
  margin-left: 798px;
  margin-top: 16px;
}
header .pone_spotify i {
  color: #1ED760;
  font-size: 32px;
}